:root {
  --color-primary: #16c9ff;
  --color-text: #e85ff5;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
}


.neon-text-box {
  width: fit-content;
  padding: 1em;
  border: 0.1em solid #fff;
  border-radius: 2rem;
  box-shadow: 0 0 2px #fff, 0 0 10px var(--color-primary), 0 0 25px var(--color-primary);
}

.neon-text-flicker {
  color: #fff;
  animation: flicker 1.5s infinite alternate;
}

.neon-text-pulse {
  color: #fff;
  animation: pulsate 2.5s infinite alternate;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow: 0 0 5px var(--color-text),
              0 0 25px var(--color-text),
              0 0 50px var(--color-text),
              0 0 100px var(--color-text);
  }
  20%, 24%, 55% {
      text-shadow: none;
  }
}

@keyframes pulsate{
  100%{
      text-shadow: 0 0 2px #fff,
                  0 0 4px #fff,
                  0 0 15px var(--color-text),
                  0 0 45px var(--color-text),
          
  }
  0%{
      text-shadow: 0 0 2px #fff,
              0 0 5px #fff,
              0 0 10px #fff,
              0 0 20px var(--color-text),
              0 0 30px var(--color-text),
              0 0 40px var(--color-text),
              0 0 55px var(--color-text),
              0 0 75px var(--color-text);
  }
}

h3 {
  color: white;
}

div {
  color:white;
}



.neon-btn {
  width: fit-content;
  color: #fff;
  border: 0.1rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  font-size: 15px;
  transition: 0.3s;
  letter-spacing: 4px;
  cursor: pointer;
}

.neon-btn:hover{
  background-color: var(--color-primary);
  color: white;
  box-shadow: 0 0 4px #fff,
              0 0 6px #fff,
              0 0 10px var(--color-primary),
              0 0 25px var(--color-primary),
              0 0 50px var(--color-primary),
              0 0 100px var(--color-primary);
}


.neon-btn-sm {
  height: fit-content;
  padding: 0.3em;
  font-size: 12px;
  color: #fff;
  border: 0.1rem solid #fff;
  border-radius: 2rem;
  transition: 0.3s;
  cursor: pointer;
}

.neon-btn-sm:hover{
  background-color: var(--color-primary);
  color: white;
  filter: drop-shadow(0 0 4px #ffffff) drop-shadow(0 0 10px var(--color-primary))
    drop-shadow(0 0 20px var(--color-primary));
}


.heart{
  stroke:var(--color-text);
}
.heart:hover {
  filter: drop-shadow(0 0 4px #ffffff) drop-shadow(0 0 10px var(--color-text))
    drop-shadow(0 0 20px var(--color-text));
}


.divider {
  width: 100%;
  border: none;
  border-top: 1px solid #fff; /* Adjust the style and color as needed */
  margin: 10px 0; /* You can adjust the top and bottom margin */
}

a {
  color: var(--color-primary);
  text-decoration: none;
}